{% extends "layout.jinja2" %}

{% block content %}
<form>
    <div class="form-group">
        <label>Username:</label>
            {% if user == null %}
                <input type="text" class="form-control" ng-model="username">
            {% endif %}
            {% if user != null %}
                <label>{{ user.user_name }}</label>
                <input type="hidden" ng-model="username" value="{{ user.user_name }}">
            {% endif %}
    </div>
    <div class="form-group">
        <label>Password:</label>
        <input type="password" class="form-control" ng-model="password"
            {% if user != null %}
                value="{{ user.pass_word }}"
            {% endif %}>
    </div>
    <div class="form-group">
        <label>Full name:</label>
        <input type="text" class="form-control" ng-model="fullname"
            {% if user != null %}
                value="{{ user.full_name }}"
            {% endif %}>
    </div>
    <div class="form-group">
        <label>Age:</label>
        <input type="text" class="form-control" ng-model="age"
            {% if user != null %}
                value="{{ user.age }}"
            {% endif %}>
    </div>
    <div class="form-group">
        <label class="radio-inline">
            <input type="radio" ng-model="sexradio" {% if user == null or (user != null and user.sex == 'M') %}checked{% endif %} value="M"/>
            Male
        </label>
        <label class="radio-inline"><input type="radio" ng-model="sexradio"
             {% if (user != null and user.sex == 'F') %}
                checked
             {% endif %} value="F">
            Female
        </label>
    </div>

    <button type="button" class="btn btn-warning" ng-click="create()">Submit</button>
    <a href="/" class="btn btn-danger" role="button">Cancel</a>
</form>

{% endblock content %}